/* Pop-up ikkuna valinnoille */
.valintaIkkuna{
color: #615f53;
}
.lautaValinta > *{
margin-top:100px;
cursor: pointer;
}
/*V�rin valinta*/
.brown,.green{
cursor: pointer;
margin: 0 25px 10px 30px;
float: left;
}
.brown img,.green img{
height: 120px;
}

/*Muodon valinnat*/
.squareDeckC,.lDeckC,.tDeckC{
cursor: pointer;
vertical-align: middle;
display: inline-block;
margin: 15px;
padding: 2px;
height: 129px;
width: 129px;
}

.squareDeckC {
  background: url(../kuvat/muoto_nelio.svg);
}

.lDeckC {
  background: url(../kuvat/muoto_l.svg);
}

.tDeckC {
  background: url(../kuvat/muoto_t.svg);
}

.squareDeckC img,.lDeckC img,.tDeckC img{
height: 120px;
}

/*Laudan leveys ja rako-valinnat*/
.laudanLeveys, .runkoratkaisu, .rako, .laudanpituus, .vari{
  font-size:14pt;
  display: table;
  margin: 0 30px 0 30px;
  padding: 5px;
}
.vari {
  text-transform: uppercase;
  margin: 20px 0 -80px 30px;
}
.runkoratkaisu h2 {
    text-transform: uppercase;
    font-size:16pt;
}

.runkoratkaisu {
    margin-bottom: 30px;
}

.kayttoohje {
    height: 280px;
    width: 500px;
}

.ohjeteksti {
    margin-top: 100px;
    padding: 30px;
}


#lautaModal .modal-dialog {
  width: 800px;
  margin-right: 40px;
}

.mitta {
  border-bottom: 5px solid #623F26;
  margin: 10px auto;
}

#mitta_95 {
  width: 65px;
}

#mitta_120 {
  width: 90px;
}

#mitta_145 {
  width: 115px;
}

#mitta_198 {
  width: 168px;
}


/* Laudan valinta */
.lautavalintaboksi {
  cursor: pointer;
  margin: 0 10px 10px 10px;
  text-align: center;
  display: inline-block;
}
.lautavalintaboksi img {
  height: 120px;
  display: block;
  max-width: 140px;
}

.valittu {
  border: thick solid #623F26;
  margin: 6px;
}


/*Select-boksit*/
select{
display: inline;
color:#615f53;
padding:5px;
font-size:14pt;
cursor: pointer;
float: right;
}


.runkoratkaisu input[type="radio"] {
   margin: 7px;
   cursor: pointer;
}

 /*Sulje-nappi*/
.sulje {
    float: right;
}

.sulje img {
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.hintatiedot input[type="number"] {
  border-radius: 5px;
  width: 50px;
  color: #000;
}

.lautaneliohintatotal {
  margin-left: 20px;
}

.tiedot2 {
  margin-bottom: 15px;
}

.hintatiedot {
  font-size: 16px;
}

.hintaotsikko {
    font-size: 2.3vh;
    color: #000;
}

.hinnat{
    cursor:pointer;
}

.ohje {
    cursor: pointer;
}

.hintatotal {
    margin-bottom: 70px;
}


@media (max-width: 1200px) {

/*Muodon valinnat*/
.squareDeckC,.lDeckC,.tDeckC{
line-height: 100px;
margin: 15px 15px 70px 15px;
}

.sulje {
    right:10px;
    bottom:10px;
    margin: 5px 3px 0 0;
}
}
