/* Pop-up ikkuna valinnoille */
.valintaIkkuna{
color: #615f53;
}
/*V�rin valinta*/
.brown,.green{
cursor: pointer;
}
.brown img,.green img{
height: 120px;
}

/*Muodon valinnat*/
.squareDeckC,.lDeckC,.tDeckC{
cursor: pointer;
vertical-align: middle;
display: inline-block;
margin: 15px;
padding: 2px;
height: 129px;
width: 129px;
border-radius: 3px;
}

.squareDeckC {
  background: url(../kuvat/muoto_nelio.svg);
}

.lDeckC {
  background: url(../kuvat/muoto_l.svg);
}

.tDeckC {
  background: url(../kuvat/muoto_t.svg);
}

.squareDeckC img,.lDeckC img,.tDeckC img{
height: 120px;
}

/*Laudan leveys ja rako-valinnat*/
.laudanLeveys, .runkoratkaisu, .rako, .laudanpituus, .vari {
  font-size:14pt;
  display: table;
  margin: 0 30px 0 30px;
  padding: 5px;
}
.lautaValinta h2 {
    text-transform: uppercase;
    font-size:14pt;
    display: inline;
    font-weight: bold;
}

.runkoratkaisu {
    margin-bottom: 30px;
}

.kayttoohje {
    height: 280px;
    width: 500px;
}

.ohjeteksti {
    margin-top: 100px;
    padding: 30px;
}


#lautaModal .modal-dialog {
  width: 800px;
  margin-left: 30%;
}

.mitta {
  border-bottom: 5px solid #623F26;
  margin: 10px auto;
}

#mitta_1 {
  width: 5px;
}
#mitta_3 {
  width: 15px;
}
#mitta_5 {
  width: 25px;
}

#mitta_39 {
  width: 54px;
}

#mitta_42 {
  width: 57px;
}

#mitta_45 {
  width: 60px;
}

#mitta_48 {
  width: 63px;
}

#mitta_51 {
  width: 66px;
}

#mitta_95 {
  width: 65px;
}

#mitta_120 {
  width: 90px;
}

#mitta_145 {
  width: 115px;
}

#mitta_198 {
  width: 168px;
}


/* Laudan valinta */
.lautavalintaboksi,
.rakovalintaboksi,
.runkovalintaboksi,
.pituusvalintaboksi,
.brown,
.green {
  cursor: pointer;
  margin: 10px 10px 10px 0;
  text-align: center;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
  border-radius: 3px;
  padding: 5px;
}
.lautavalintaboksi img,
.runkovalintaboksi img {
  height: 100px;
  display: block;
  max-width: 130px;
}

.runkovalintaboksi {
  max-width: 135px;
  vertical-align: top;
}

.valittu {
  box-shadow: 0 0 0 4pt #623F26;
}
.valittu_green {
  box-shadow: 0 0 0 4pt #7a8972;
}

/*Select-boksit*/
select{
display: inline;
color:#615f53;
padding:5px;
font-size:14pt;
cursor: pointer;
float: right;
}


.runkoratkaisu input[type="radio"] {
   margin: 7px;
   cursor: pointer;
}

 /*Sulje-nappi*/
.sulje {
    float: right;
}

.sulje img {
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.hintatiedot input[type="number"] {
  border-radius: 5px;
  width: 50px;
  color: #000;
}

.lautaneliohintatotal {
  margin-left: 20px;
}

.tiedot2 {
  margin-bottom: 15px;
}

.hintatiedot {
  font-size: 16px;
}

.hintaotsikko {
    font-size: 2.3vh;
    color: #000;
}

.hinnat{
    cursor:pointer;
}

.ohje {
    cursor: pointer;
}

.hintatotal {
    margin-bottom: 70px;
}


@media (max-width: 1200px) {

/*Muodon valinnat*/
.squareDeckC,.lDeckC,.tDeckC{
line-height: 100px;
margin: 15px 15px 70px 15px;
}

.sulje {
    right:10px;
    bottom:10px;
    margin: 5px 3px 0 0;
}
}

@media (max-width: 1150px) {
  #lautaModal .modal-dialog {
    margin-left: 1%;
  }
}

@media (max-width: 800px) {
  #lautaModal .modal-dialog {
    width: 98%;
  }
  .modal-header h2 {
    font-size: 1.5em;
  }
  .sulje {
    margin:0;
  }
  .sulje img {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1150px) {
  #lautaModal .modal-dialog {
    margin-left: 30%;
  }
}

@media (min-width: 1400px) {
  #lautaModal .modal-dialog {
    margin-left: 40%;
  }
}
